@import "vars";

.about-us-banner__container {
  padding-bottom: 56px;

  .bg-lines__image {
    top: 45px;
  }

  @media only screen and (min-width: 760px) {
    padding-bottom: 90px;

    .bg-lines__image {
      top: 90px;
    }
  }

  @media only screen and (min-width: 1160px) {
    padding-bottom: 180px;

    .bg-lines__image {
      top: 160px;
    }
  }
}

.about-us-banner__banner {
  padding-top: 116px;
  padding-bottom: 56px;

  @media only screen and (min-width: 760px) {
    max-width: 620px;
    margin: 0 auto;
    display: block;
    padding-bottom: 80px;
    padding-top: 190px;
  }

  @media only screen and (min-width: 1160px) {
    padding-bottom: 163px;
    padding-top: 196px;
  }
}

.about-us-banner__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.56px;
  color: $white;
  text-align: center;
  margin-bottom: 12px;

  @media only screen and (min-width: 1160px) {
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.8px;
  }
}

.about-us-banner__subtitle {
  text-align: center;
}

.about-us-banner__text {
  font-size: 15px;
  text-align: center;
  margin-bottom: 32px;
}

.about-us-banner__image {
  width: 100%;
  object-fit: contain;
}

.about-us-statistic__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;

  @media only screen and (min-width: 760px) {
    flex-direction: row;
  }

  @media only screen and (min-width: 1160px) {
    gap: 16px;
  }
}

.about-us-statistic__card {
  padding: 20px 32px 24px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media only screen and (min-width: 760px) {
    width: calc(50% - 6px);
    align-items: flex-start;
  }

  @media only screen and (min-width: 1160px) {
    width: calc(25% - 12px);
  }
}

.about-us-statistic__value {
  font-size: 26px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.52px;
  color: $white;
}

.about-us-statistic__text {
  font-size: 17px;
  font-weight: 700;
  line-height: 155%;
  color: $dark-500;
}