@import './vars';

.advantages {
  background: $dark-950;
}

.advantages__wrapper {
  padding-top: 48px;
  background: $dark-900;

  @media only screen and (min-width: 760px) {
    padding-top: 90px;
  }

  @media only screen and (min-width: 1160px) {
    border-radius: 40px 40px 0 0;
  }
}

.advantages__info {
  text-align: center;
  margin-bottom: 32px;

  @media only screen and (min-width: 1160px) {
    width: 100%;
    max-width: 616px;
    margin: 0 auto 64px;
  }
}

.advantages__list {
  @media only screen and (min-width: 1160px) {
    align-items: stretch;
  }
}

.advantages__item {
  @media only screen and (min-width: 1160px) {
    &:nth-child(2) {
      order: 3;
    }
    &:last-child {
      order: 2;
    }
  }
}

.advantages__button {
  margin-top: 24px;

  @media only screen and (min-width: 1160px) {
    max-width: 230px;
    margin: 24px auto 0;
  }
}