@import './vars';

.animation {
  padding-top: 48px;
  position: relative;

  @media only screen and (min-width: 760px) {
    padding-top: 90px;
  }

  @media only screen and (min-width: 1160px) {
    padding-top: 160px;
  }
}

.animation__video {
  width: 100%;

  video {
    width: 100%;
    object-fit: contain;
    pointer-events: none;
  }

  @media only screen and (min-width: 760px) {

    video {
      pointer-events: all;
    }
  }
}

.animation__fullscreen-button {
  width: 130px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% ,-50%);
  border-radius: 30px;
  background: $dark-700;
  box-shadow: 0 -8px 40px 0 rgba(18, 19, 23, 0.72);
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  color: $gray;

  svg {
    margin-right: 4px;
  }

  @media only screen and (min-width: 760px) {
    display: none;
  }
}

.animation__video-mobile {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 909999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: all .5s ease;

  video {
    width: 100vh;
    height: 100vw;
    transform: rotate(90deg);
    object-fit: cover;
  }

  &.visible {
    transform: translateX(0);
  }

  @media only screen and (min-width: 760px) {
    display: none;
  }
}

.animation__close-video {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 24px;
  bottom: 24px;
  background: $dark-600;
  border-radius: 6px;
  z-index: 999999999;
}