@import './vars';

.banner {
  padding-top: 116px;

  @media only screen and (min-width: 1160px) {
    padding-top: 192px;
  }
}

.banner__wrapper {

  @media only screen and (min-width: 1160px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.banner__info {
  margin-bottom: 40px;

  @media only screen and (min-width: 1160px) {
    width: 50%;
    order: 1;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.banner__subtitle {
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    color: $blue;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    margin: 8px 0;
  }

  @media only screen and (min-width: 1160px) {
    flex-direction: row;
    margin-bottom: 8px;

    h2 {
      margin: 0 0 0 8px;
      font-size: 15px;
      line-height: 22px;
    }
  }
}

.banner__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 39px;
  letter-spacing: 0.56px;
  color: $white;
  text-align: center;
  margin-bottom: 24px;

  @media only screen and (min-width: 1160px) {
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0.8px;
    text-align: left;
    margin-bottom: 32px;
  }
}

.banner__button-consultation {

  @media only screen and (min-width: 1160px) {
    max-width: 262px;
  }
}

.banner__house {

  @media only screen and (min-width: 1160px) {
    position: relative;
    width: 100%;
    order: 3;
  }
}

.banner__house-wrapper {

  @media only screen and (min-width: 1160px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 88px 88px 56px 88px;
    margin-top: 88px;
  }
}

.banner__house-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-bottom: 16px;

  @media only screen and (min-width: 1160px) {
    order: 1;
  }
}

.banner__house-title {
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: $white;
  margin-bottom: 12px;

  span {
    color: $blue;
  }

  @media only screen and (min-width: 1160px) {
    order: 2;
    width: 490px;
    font-size: 28px;
    letter-spacing: 0.28px;
    line-height: 42px;
  }
}

.banner__house-info {

  @media only screen and (min-width: 1160px) {
    order: 3;
    width: 460px;
  }
}

.banner__house-text {
  margin-bottom: 16px;
}

.banner__house-tags {
  display: flex;
  flex-wrap: wrap;
}

.banner__house-features {
  margin-top: 12px;
  max-height: 550px;
  overflow: hidden;
  position: relative;
  transition: all .5s ease;

  &:after {
    content: '';
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(23, 24, 28, 0.00) 0%, #17181C 100%);
  }

  &.show {
    padding-bottom: 40px;
    max-height: 2500px;

    .banner__house-feature-button img {
      transform: rotate(180deg);
    }

    &:after {
      display: none;
    }
  }

  @media only screen and (min-width: 1160px) {
    position: initial;
    max-height: fit-content;

    &:after {
      display: none;
    }
  }
}

.banner__house-feature-button {
  position: absolute;
  bottom: 0;
  left: 0;

  img {
    transition: all .5s ease;
  }

  @media only screen and (min-width: 1160px) {
    display: none;
  }
}

.banner__house-feature-hover {

  @media only screen and (min-width: 1160px) {
    position: absolute;

    &:nth-child(1) {
      left: 468px;
      top: 128px;
    }

    &:nth-child(2) {
      left: 682px;
      top: 145px;
    }

    &:nth-child(3) {
      left: 616px;
      top: 307px;
    }

    &:nth-child(4) {
      left: 708px;
      top: 239px;
    }

    &:nth-child(5) {
      left: 312px;
      top: 237px;
    }

    &:nth-child(6) {
      left: 188px;
      top: 382px;
    }

    &:nth-child(7) {
      left: 57px;
      top: 153px;
    }

    &:nth-child(8) {
      left: -30px;
      top: 361px;
    }

    &:nth-child(9) {
      left: 8px;
      top: 27px;
    }

    &:nth-child(10) {
      right: -58px;
      top: 30px;
    }
  }
}

.banner__house-feature {
  padding: 16px;
  margin-bottom: 12px;

  @media only screen and (min-width: 1160px) {
    transition: all .3s ease;
    max-width: 403px;
    border: 1px solid $blue;
    margin: 0;
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    position: relative;
  }
}

@keyframes house-pin-wave {
  0% {
    box-shadow: 0 0 0 0 rgba(93, 117, 239, 0);
  }
  20% {
    box-shadow: 0 0 0 10px rgba(93, 117, 239, .5);
  }
  40% {
    box-shadow: 0 0 0 15px rgba(93, 117, 239, 0);
  }
}

.banner__house-feature-pin {
  display: none;

  @media only screen and (min-width: 1160px) {
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    animation: house-pin-wave 6s ease infinite;
    bottom: -40px;
    left: 50%;
    border-radius: 100px;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 5;

    &:hover ~ .banner__house-feature {
      opacity: 1;
      z-index: 8;
    }
  }
}

.banner__house-feature-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid $dark-600;
}

.banner__house-feature-image {
  min-width: 36px;
  height: 36px;
  border-radius: 7px;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.banner__house-feature-content {
  width: calc(100% - 48px);
}

.banner__house-feature-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: $white;
  margin-bottom: 4px;
}

.banner__house-feature-text {
  font-size: 13px;
}

.banner__house-feature-tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.banner__house-feature-tag {
  border-radius: 4px;

  @media only screen and (min-width: 1160px) {
    margin-bottom: 0;

    &:nth-child(2) {
      margin-right: 0;
    }
  }
}

.banner__benefits {
  margin-top: 40px;

  @media only screen and (min-width: 1160px) {
    margin-top: 0;
    width: 50%;
    order: 2;
    display: flex;
    flex-wrap: wrap;
  }
}

.banner__benefits-item {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  &:nth-child(2) {
    margin-bottom: 32px;
  }

  @media only screen and (min-width: 760px) {
    width: 380px;
    margin: 0 auto 24px;

    &:nth-child(2) {
      margin: 0 auto 32px;
    }
  }

  @media only screen and (min-width: 1160px) {
    width: calc(50% - 9px);
    margin: 0 16px 0 0;
    align-items: flex-start;
    text-align: left;

    &:nth-child(2) {
      margin: 0;
    }
  }
}

.banner__benefits-image {
  width: 32px;
  height: 32px;
  margin-bottom: 12px;
}

.banner__benefits-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: $white;
  margin-bottom: 4px;
}

.banner__benefits-automation {
  padding: 16px;
  border-radius: 14px;
  background: $dark-700;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media only screen and (min-width: 760px) {
    flex-direction: row;
    border-radius: 100px;
    width: fit-content;
    margin: 0 auto;
    padding: 8px 24px 8px 8px;
  }

  @media only screen and (min-width: 1160px) {
    width: 100%;
    height: 44px;
    justify-content: flex-start;
    margin: 24px 0 0 0;
  }
}

.banner__benefits-automation-image {
  height: 28px;
  width: 44px;
  background: $blue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 12px;

  @media only screen and (min-width: 760px) {
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.banner__benefits-automation-text {
  font-size: 10px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  color: $white;
  text-align: center;

  @media only screen and (min-width: 760px) {
    font-size: 12px;
    line-height: 18px;


    br {
      display: none;
    }
  }
}