@import './vars';
@import './header';
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background: $dark-900;
}

.container {
  padding: 0 20px;
}

.button {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  padding: 0 20px;

  &.blue {
    background: $blue;
    color: $white;

    &:hover {
      background: lighten($blue, 7%);
    }
  }
}
