@import './vars';

.convenient-control {
  padding-top: 40px;
  margin-top: 40px;
  background: $dark-950;

  @media only screen and (min-width: 760px) {
    padding-top: 90px;
  }

  @media only screen and (min-width: 1160px) {
    padding-top: 160px;
  }
}

.convenient-control__info {
  margin-bottom: 24px;

  @media only screen and (min-width: 1160px) {
    width: 616px;
    margin: 0 auto;
  }
}

.convenient-control__subtitle, .convenient-control__title, .convenient-control__text {
  text-align: center;
}

.convenient-control__tabs {
  width: 100%;
  height: 48px;
  background: $dark-800;
  border-radius: 10px;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 24px;
  z-index: 99;

  &.active-left {

    .convenient-control__tab-item:nth-child(1) {
      color: $white;

      svg path {
        fill: $white;
      }
    }
    .convenient-control__tab-active {
      transform: translateX(0);
    }
  }

  &.active-right {

    .convenient-control__tab-item:nth-child(2) {
      color: $white;

      svg path {
        fill: $white;
      }
    }
    .convenient-control__tab-active {
      transform: translateX(100%);
    }
  }
}

.convenient-control__tab-item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  color: $dark-500;
  position: relative;
  z-index: 2;
  transition: all .3s ease;
  cursor: pointer;

  .desktop {
    display: none;
  }

  svg path {
    transition: all .3s ease;
  }

  @media only screen and (min-width: 760px) {

    .desktop {
      display: block;
    }

    .mobile {
      display: none;
    }
  }
}

.convenient-control__tab-active {
  position: absolute;
  width: 50%;
  z-index: 1;
  height: calc(100% - 12px);
  background: $blue;
  border-radius: 8px;
  transition: all .3s ease;
}

.convenient-control__content {
  width: 100%;

  @media only screen and (min-width: 760px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media only screen and (min-width: 1160px) {
    height: 650px;
    padding-top: 80px;
    padding-bottom: 50px;
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    background-size: auto;
    background-position: center;
  }
}

.convenient-control__opportunities {
  position: relative;
  z-index: 2;

  @media only screen and (min-width: 760px) {
    width: calc(100% - 300px);
  }

  @media only screen and (min-width: 1160px) {
    max-width: 100%;
    position: initial;
  }
}

.convenient-control__opportunity {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  box-shadow: 0 8px 30px 0 rgba(4, 5, 6, 0.06);
  background: $dark-800;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  @media only screen and (min-width: 1160px) {
    position: absolute;
    width: 388px;

    &:nth-child(1) {
      top: 175px;
      left: -25px;
    }

    &:nth-child(2) {
      top: 364px;
      left: 10px;
    }

    &:nth-child(3) {
      top: 175px;
      right: -25px;
    }

    &:nth-child(4) {
      top: 364px;
      right: 10px;
    }
  }
}

.convenient-control__main-image {
  width: 160px;
  margin: 0 auto;
  position: relative;
  z-index: 2;


  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &.gif {
    width: 100%;
    height: 290px;

    img {
      object-fit: cover;
      transform: scale(.9);
    }
  }

  @media only screen and (min-width: 760px) {
    width: 260px;

    &.gif {
      width: 260px;
      height: 290px;
    }
  }

  @media only screen and (min-width: 1160px) {
    width: 265px;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);

    &.gif {
      width: 82%;
      height: 100%;
      top: 0;

      img {
        object-fit: contain;
      }
    }
  }
}

.convenient-control__opportunity-value {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: $blue;
  font-size: 17px;
  font-weight: 700;
  line-height: 155%;
  color: $white;
}

.convenient-control__opportunity-content {
  width: calc(100% - 56px);
}

.convenient-control__opportunity-title {
  font-size: 13px;
  font-weight: 700;
  line-height: 155%;
  color: $white;
}

.convenient-control__opportunity-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  color: $dark-500;
}
