@import './vars';

.functions-page {

  @media only screen and (min-width: 1160px) {

    .dropdown-item.active {

      .dropdown-item__body {
        padding: 0 24px 24px 24px !important;
      }

      .functions-page__dropdown-header-button {
        opacity: 1;
        pointer-events: all;
      }
    }

    .dropdown-item__head {
      padding: 16px 24px;
      position: relative;
    }

    .dropdown-item__title {
      font-size: 18px;
    }

    .dropdown-item__value {
      width: 48px;
      height: 48px;
    }

    .dropdown-item__body {
      padding: 0 24px !important;
    }

    .functions-page__dropdown-button {
      display: none;
    }
  }
}

.functions-page__container {
  padding-bottom: 56px;

  @media only screen and (min-width: 760px) {
    padding-bottom: 90px;
  }

  @media only screen and (min-width: 1160px) {
    padding-bottom: 180px;
  }
}

.functions-page__banner {
  padding-top: 116px;
  padding-bottom: 56px;

  @media only screen and (min-width: 760px) {
    max-width: 620px;
    margin: 0 auto;
    display: block;
    padding-bottom: 80px;
    padding-top: 190px;
  }

  @media only screen and (min-width: 1160px) {
    padding-bottom: 163px;
    padding-top: 196px;
  }
}

.functions-page__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0.56px;
  color: $white;
  text-align: center;
  margin-bottom: 12px;

  @media only screen and (min-width: 1160px) {
    font-size: 40px;
    line-height: 150%;
    letter-spacing: 0.8px;
  }
}

.functions-page__text {
  font-size: 15px;
  text-align: center;
  margin-bottom: 32px;
}

.functions-page__image {
  width: 100%;
  object-fit: contain;
}

.functions-page__item.active .dropdown-item__body {
  max-height: 3000px !important;

  @media only screen and (min-width: 1160px) {
    max-height: 2000px !important;
  }
}

.functions-page__dropdown-text {
  font-size: 15px;
  margin-bottom: 14px;
}

.functions-page__dropdown-header-button {
  display: none;

  @media only screen and (min-width: 1160px) {
    display: flex;
    position: absolute;
    right: 76px;
    top: 23px;
    max-width: 142px;
    opacity: 0;
    pointer-events: none;
  }
}

.functions-page__scenario {
  margin-top: 32px;
}

.functions-page__scenario-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 155%;
  color: $white;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid $dark-600;
}

.functions-page__scenario-item {
  padding-bottom: 14px;
  margin-bottom: 24px;
  border-bottom: 1px solid $dark-600;
}

.functions-page__scenario-item-head {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.functions-page__scenario-item-icon {
  margin-right: 4px;
}

.functions-page__scenario-item-text {
  font-size: 14px;
}

.functions-page__scenario-item-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.functions-page__scenario-item-tag-wrapper {
  display: flex;
  align-items: center;

  &:last-child .functions-page__scenario-item-tag-icon {
    display: none;
  }
}

.functions-page__scenario-item-tag {
  margin-right: 0;
}

.functions-page__scenario-item-tag-icon {
  margin: 0 2px 8px 2px;
}

.functions-page__scenario-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 20px;
    height: 20px;
    margin-left: 2px;
  }

  .text {
    width: calc(100% - 22px);
  }

  @media only screen and (min-width: 760px) {
    justify-content: flex-start;

    .text {
      width: auto;
    }
  }
}

.functions-page__button {
  margin-bottom: 32px;

  @media only screen and (min-width: 760px) {
    max-width: 200px;
    margin: 0 auto 40px;
  }
}

.functions-page__label {
  width: 100%;
  border-radius: 500px;
  background: $dark-800;
  box-shadow: 0 8px 30px 0 rgba(4, 5, 6, 0.06);
  padding: 9px 24px 9px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .functions-page__label-image {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: $dark-700;
  }

  span {
    font-size: 13px;
    font-weight: 700;
    line-height: 140%;
    color: $white;
    width: calc(100% - 60px);
  }

  @media only screen and (min-width: 760px) {
    max-width: 685px;
    margin: -140px auto 0;
  }
}