@import './vars';

.header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: $dark-900;
  z-index: 9999;

  @media only screen and (min-width: 1160px) {
    padding-top: 16px;
  }
}

.header__container {
  height: 52px;
  padding: 0 20px;

  @media only screen and (min-width: 760px) {
    padding: 0 30px;
  }

  @media only screen and (min-width: 1160px) {
    padding: 0 30px;
    height: 64px;
    margin: 0 auto;
    width: 100%;
  }

  @media only screen and (min-width: 1387px) {
    padding: 0 24px;
  }
}

.header__mobile-info {
  width: 100%;
  height: 32px;
  margin-bottom: 12px;
  background: $dark-800;

  .header__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  span {
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    color: $white;
  }

  .header__mobile-info-location {
    display: flex;
    align-items: center;

    svg {
      margin-right: 4px;
    }
  }

  .header__mobile-info-phone {
    display: flex;
    align-items: center;

    svg {
      margin-right: 6px;
    }
  }

  @media only screen and (min-width: 1160px) {
    display: none;
  }
}

.header__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $dark-800;
  border: 1px solid $dark-600;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 8px 30px 0 rgba(4, 5, 6, 0.06);

  &.mobile {
    padding: 0 10px 0 16px;

    @media only screen and (min-width: 1160px) {
      display: none;
    }
  }

  &.menu-open {

    .header__logo svg {
      opacity: 1;
    }

    .header__nav-button {
      transform: translateX(200px);
    }

    .header__burger-line-1 {
      transform: translate(0, 6px) rotate(-45deg);
    }

    .header__burger-line-2 {
      transform: translate(20px);
      opacity: 0;
    }

    .header__burger-line-3 {
      transform: translate(0, -6px) rotate(45deg);
    }

    .header__menu {
      opacity: 1;
      pointer-events: all;
      transform: translateY(0);
    }
  }

  &.desktop {
    display: none;

    @media only screen and (min-width: 1160px) {
      display: flex;
      padding: 0 16px 0 32px;
      overflow: visible;
    }
  }
}

.header__left {
  width: calc(100% - 180px);

  @media only screen and (min-width: 1160px) {
    display: flex;
    align-items: center;
    width: 50%;
    height: 100%;
  }
}

.header__right {
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header__nav-button {
    height: 32px !important;
  }

  @media only screen and (min-width: 1160px) {
    justify-content: flex-end;
    width: 50%;
    height: 100%;

    .header__nav-button {
      height: 40px !important;
    }
  }
}

.header__showroom {

  @media only screen and (min-width: 1160px) {
    max-width: 178px !important;
  }
}

.header__location-dropdown {

  @media only screen and (min-width: 1160px) {
    max-width: 71px !important;
    margin-right: 12px;
  }
}

.header__logo {
  position: relative;
  display: flex;
  height: 18px;
  width: 32px;

  img {
    width: 100%;
    height: 100%;
  }

  svg {
    position: absolute;
    height: 18px;
    transform: translateX(40px);
    transition: all .3s ease;
    opacity: 0;
  }

  @media only screen and (min-width: 1160px) {
    height: 100%;
    width: 100%;
    max-width: 132px;
    margin-right: 32px;
  }
}

.header__link {

  @media only screen and (min-width: 1160px) {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: $white;
    border-radius: 8px;
    transition: all .3s ease;

    &.phone {
      margin-right: 10px;
    }

    &:hover {
      background: lighten($dark-900, 10%);
    }
  }
}

.header__burger {
  min-width: 32px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: $dark-600;
  border-radius: 6px;
  margin-left: 8px;
  z-index: 2;
  cursor: pointer;

  &-line-1, &-line-2, &-line-3, {
    width: 18px;
    height: 2px;
    background: $white;
    border-radius: 100px;
    transition: all .3s ease;
  }

  &-line-2 {
    margin: 4px 0;
  }
}

.header__nav-button {
  max-width: 140px;

  @media only screen and (min-width: 1160px) {
    height: 40px !important;
    max-width: 166px;
    margin-left: 12px;
  }
}

.header__menu {
  width: 100%;
  height: calc(100vh - 96px);
  position: fixed;
  left: 0;
  top: 96px;
  background: $dark-900;
  padding: 24px 20px 0 20px;
  transition: all .3s ease;
  transform: translateY(100px);
  pointer-events: none;
  opacity: 0;
  overflow: auto;
}

.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.header__location-dropdown {
  width: calc(50% - 6px);
}

.header__location-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $white;
  height: 38px;
  border-radius: 7px;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
  color: $dark-800;
  margin-bottom: 12px;

  img {
    margin-right: 4px;
  }
}

.header__location-info {
  border-radius: 8px;
  background: $dark-700;
  padding: 12px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  img {
    width: 20px;
    height: 20px;
  }

  span {
    width: calc(100% - 26px);
    font-size: 14px;
    font-weight: 500;
    line-height: 165%;
    color: $dark-300;
  }
}

.header__showroom {
  max-width: calc(50% - 6px);
}

.header__menu-link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  color: $white;
  height: 48px;
  padding-bottom: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid $dark-700;

  &.phone {
    justify-content: flex-start;

    img {
      margin-right: 4px;
    }
  }
}

.header__menu-action-wrapper {
  width: 100%;
  background: $dark-800;
  border-radius: 16px;
  padding: 24px;
  margin-top: 40px;

  .header__nav-button {
    max-width: 100%;
    transform: translateX(0) !important;
  }
}

.header__menu-action-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 24px;
  color: $white;
}

.header__accordion-chevron {
  transform: rotate(90deg);
  transition: all .3s ease;
}

.header__accordion {

  &.active {
    .header__accordion-body {
      max-height: 900px;
    }
    .header__accordion-chevron {
      transform: rotate(-90deg);
    }
  }
}

.header__accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: all .3s ease;
}

.header__accordion-section {
  padding: 16px 8px;
}

.header__accordion-title {
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.12px;
  color: #616676;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.header__accordion-link {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;

  .header__accordion-icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: $dark-600;
    margin-right: 12px;

    img {
      width: 20px;
      height: 20px;
    }
  }

  span {
    font-size: 13px;
    font-weight: 700;
    line-height: 150%;
    color: $white;
  }
}

.header__accordion-more {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  margin-top: 8px;

  span {
    font-size: 12px;
    font-weight: 700;
    line-height: 150%;
    color: #84899A;
    margin-right: 4px;
  }
}

.header__accordion-calculator {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  border-radius: 12px;
  background: $dark-600;
}

.header__accordion-calculator-left {
  display: flex;
  align-items: center;

  span {
    font-size: 10px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.1px;
    color: $white;
    text-transform: uppercase;
    margin-left: 8px;
  }
}

.header__accordion-calculator-right {
  display: flex;
  align-items: center;

  span {
    font-size: 10px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: 0.1px;
    text-transform: uppercase;
    color: $blue;
    margin-right: 4px;
  }
}