@import './vars';

.products {
  padding: 48px 0 24px 0;

  @media only screen and (min-width: 760px) {
    padding: 90px 0 45px 0;
  }

  @media only screen and (min-width: 1160px) {
    padding: 160px 0 90px 0;
  }
}

.products__container {

  @media only screen and (min-width: 1160px) {
    max-width: 100%;
  }
}

.products__info {
  margin-bottom: 32px;
  text-align: center;

  @media only screen and (min-width: 760px) {
    max-width: 400px;
    margin: 0 auto 32px;
  }

  @media only screen and (min-width: 1160px) {
    max-width: 616px;
    margin: 0 auto 54px;
  }
}

.products__title {

  @media only screen and (min-width: 1160px) {
    padding: 0 40px;
  }
}

.products__text {

  @media only screen and (min-width: 1160px) {
    padding: 0 114px;
  }
}

.products__companys {
  display: flex;
  gap: 8px;

  &:hover .products__companys-wrapper {
    animation-play-state: paused;
  }

  @media only screen and (min-width: 1160px) {

    &:hover .products__companys-wrapper {
      animation-play-state: paused;
    }
  }
}

.products__companys-wrapper {
  min-width: 100%;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
  animation: scroll-left 45s linear infinite;

  @media only screen and (min-width: 1160px) {
    min-width: 1160px;
    gap: 16px;
  }
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 8px));
  }
}

.products__item {
  width: 140px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: $dark-800;
  pointer-events: none;
  user-select: none;

  img {
    object-fit: contain;
  }

  &:nth-child(1) {
    img {
      width: 25px;
      height: 16px;
    }
  }

  &:nth-child(2) {
    img {
      width: 88px;
      height: 13px;
    }
  }

  &:nth-child(3) {
    img {
      width: 116px;
      height: 18px;
    }
  }

  &:nth-child(4) {
   img {
     width: 54px;
     height: 24px;
   }
  }

  &:nth-child(5) {
    img {
      width: 61px;
      height: 37px;
    }
  }

  &:nth-child(6) {
    img {
      width: 75px;
      height: 14px;
    }
  }

  &:nth-child(7) {
    img {
      width: 21px;
      height: 22px;
    }
  }

  @media only screen and (min-width: 1160px) {
    height: 60px;
    width: 176px;

    &:nth-child(1) {
      img {
        width: 31px;
        height: 20px;
      }
    }

    &:nth-child(2) {
      img {
        width: 108px;
        height: 16px;
      }
    }

    &:nth-child(3) {
      img {
        width: 142px;
        height: 22px;
      }
    }

    &:nth-child(4) {
      img {
        width: 68px;
        height: 30px;
      }
    }

    &:nth-child(5) {
      img {
        width: 76px;
        height: 46px;
      }
    }

    &:nth-child(6) {
      img {
        width: 86px;
        height: 16px;
      }
    }

    &:nth-child(7) {
      img {
        width: 25px;
        height: 26px;
      }
    }
  }
}