@import './vars';

.scenario-modal__backdrop {
  padding: 0;
}

.scenario-modal {
  width: 100%;
  border-radius: 0;
  height: 100vh;
  overflow-y: auto;

  @media only screen and (min-width: 760px) {
    top: 24px;
    right: 24px;
    position: absolute;
    height: calc(100vh - 48px);
    max-width: 700px;
    border-radius: 24px;
  }

  @media only screen and (min-width: 1160px) {
    right: calc(50% - 580px);
    padding: 32px;
  }
}

.scenario-modal__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.22px;
  color: $gray-100;
  padding-right: 100px;
  padding-bottom: 14px;
  border-bottom: 1px solid $dark-600;
  margin-bottom: 12px;

  @media only screen and (min-width: 760px) {
    font-size: 28px;
  }
}

.scenario-modal__list {

}

.scenario-modal__item {
  border-bottom: 1px solid $dark-600;
  padding-bottom: 12px;
  margin-bottom: 12px;
}

.scenario-modal__item-title {
  font-size: 17px;
  font-weight: 700;
  line-height: 155%;
  color: $gray-100;
  margin-bottom: 4px;
}

.scenario-modal__item-text {
  font-size: 14px;
  margin-bottom: 16px;
}

.scenario-modal__item-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.scenario-modal__item-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  &:last-child img {
    display: none;
  }
}

.scenario-modal__item-tag {
  margin-bottom: 0;
}

.scenario-modal__item-icon {
  margin: 0 2px;
}

