@import './vars';

.service-details-template {
  .functions {
    padding-top: 48px;

    @media only screen and (min-width: 760px) {
      padding-top: 90px;
    }

    @media only screen and (min-width: 1160px) {
      padding-top: 160px;
    }
  }

  .functions__info {
    margin-bottom: 32px;
  }
}