@import './vars';

.service-details-template {
  .equipment {
    background: $dark-900;
    padding-top: 40px;

    @media only screen and (min-width: 760px) {
      padding-top: 60px;
    }
  }

  .equipment__info {
    margin-bottom: 32px;
    text-align: center;

    @media only screen and (min-width: 760px) {
      width: 100%;
      max-width: 512px;
      margin: 0 auto 64px;
    }
  }

  .equipment__swiper-wrapper {
    @media only screen and (min-width: 1160px) {
      position: relative;
    }
  }

  .equipment__swiper {
    overflow: visible;

    @media only screen and (min-width: 1160px) {
      overflow: hidden;
    }
  }

  .equipment__slide {
    padding: 24px;
  }

  .equipment__slide-image {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 12px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .equipment__slide-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 155%;
    color: $white;
    margin-bottom: 8px;
  }

  .equipment__slide-text {
    font-size: 14px;
    line-height: 165%;
    margin-bottom: 24px;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .equipment__swiper-prev,
  .equipment__swiper-next {
    display: none;

    @media only screen and (min-width: 1160px) {
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      border-radius: 8px;
      border: 1px solid $dark-550;
      background: $dark-600;
      z-index: 2;
      transition: background .3s ease;

      &.swiper-button-disabled {
        svg {
          opacity: .5;
        }
        &:hover {
          background: $dark-550;
        }
      }

      &:hover {
        background: $dark-500;
      }
    }
  }
}