@import './vars';

.tag {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $dark-600;
  padding: 4px 10px;
  border-radius: 100px;
  margin-right: 8px;
  margin-bottom: 8px;

  img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }

  span {
    font-size: 13px;
    font-weight: 700;
    line-height: 18px;
    color: $white;
  }
}