<section class="about-us-team">
  <div class="about-us-team__container container">
    <div class="about-us-team__title">Наша команда</div>
    <div class="about-us-team__text text">Люди, що створюють магію для ваших будинків.</div>
    <div class="about-us-team__swiper-wrapper">
      <div class="about-us-team__swiper swiper">
        <div class="about-us-team__swiper-wrapper swiper-wrapper">

          <div class="about-us-team__swiper-slide swiper-slide card">
            <div class="about-us-team__swiper-image">
              <img src="../assets/about-us-team-1.png" alt="Віталій Троїцький">
            </div>
            <div class="about-us-team__swiper-name">Віталій Троїцький</div>
            <div class="about-us-team__swiper-text text">Засновник SmartCare</div>
          </div>
          <div class="about-us-team__swiper-slide swiper-slide card">
            <div class="about-us-team__swiper-image">
              <img src="../assets/about-us-team-2.png" alt="Віталій Троїцький">
            </div>
            <div class="about-us-team__swiper-name">Максим Богун</div>
            <div class="about-us-team__swiper-text text">Голова відділу консультування</div>
          </div>
          <div class="about-us-team__swiper-slide swiper-slide card">
            <div class="about-us-team__swiper-image">
              <img src="../assets/about-us-team-3.png" alt="Віталій Троїцький">
            </div>
            <div class="about-us-team__swiper-name">Кирило Важинський</div>
            <div class="about-us-team__swiper-text text">Головний майстер монтажу</div>
          </div>
          <div class="about-us-team__swiper-slide swiper-slide card">
            <div class="about-us-team__swiper-image">
              <img src="../assets/about-us-team-4.png" alt="Віталій Троїцький">
            </div>
            <div class="about-us-team__swiper-name">Маруся Мішутіна</div>
            <div class="about-us-team__swiper-text text">Проєктувальниця смарт систем</div>
          </div>
          <div class="about-us-team__swiper-slide swiper-slide card">
            <div class="about-us-team__swiper-image">
              <img src="../assets/about-us-team-5.png" alt="Віталій Троїцький">
            </div>
            <div class="about-us-team__swiper-name">Валентин Замілюхін</div>
            <div class="about-us-team__swiper-text text">IT департамент</div>
          </div>
          <div class="about-us-team__swiper-slide swiper-slide card">
            <div class="about-us-team__swiper-image">
              <img src="../assets/about-us-team-6.png" alt="Віталій Троїцький">
            </div>
            <div class="about-us-team__swiper-name">Анна Іванченко</div>
            <div class="about-us-team__swiper-text text">Голова відділу продажу</div>
          </div>
          <div class="about-us-team__swiper-slide swiper-slide card">
            <div class="about-us-team__swiper-image">
              <img src="../assets/about-us-team-7.png" alt="Віталій Троїцький">
            </div>
            <div class="about-us-team__swiper-name">Антон Зоревій</div>
            <div class="about-us-team__swiper-text text">Майстер монтажу</div>
          </div>
          <div class="about-us-team__swiper-slide swiper-slide card">
            <div class="about-us-team__swiper-image">
              <img src="../assets/about-us-team-8.png" alt="Віталій Троїцький">
            </div>
            <div class="about-us-team__swiper-name">Ілона Кузьменко</div>
            <div class="about-us-team__swiper-text text">Голова відділу підтримки</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>