<section class="about-us-history">
  <div class="about-us-history__container container">
    <div class="about-us-history__info">
      <div class="about-us-history__title-wrapper section-title-wrapper">
        <h3 class="about-us-history__subtitle section-subtitle">Наша історія</h3>
        <h2 class="about-us-history__title section-title">Як усе починалося</h2>
      </div>
      <p class="about-us-history__text text">Ласкаво просимо в історію SmartCare! Заснована у 2016 році, наша компанія
        віддана перетворенню будинків у розумні простори. Завдяки передовим системам управління, ми забезпечуємо
        безпеку, комфорт та ефективність вашого житла, надаючи унікальний досвід розумного життя.</p>
      <button class="about-us-history__button button blue consultation" type="button">
        <span>Замовити консультацію</span>
        <img src="../assets/white-arrow-right.svg" alt="Arrow Icon">
      </button>
    </div>
    <div class="about-us-history__image">
      <img src="../assets/white-logo.svg" alt="Logo">
    </div>
  </div>
</section>