<section class="about-us-location">
  <div class="about-us-location__container container">
    <div class="about-us-location__title-wrapper section-title-wrapper">
      <h3 class="about-us-location__subtitle section-subtitle">Де знайти</h3>
      <h2 class="about-us-location__title section-title">Завітайте у наш шоурум</h2>
      <p class="about-us-location__text text">м. Київ, вул. Вишняковська 2, ПН – ПТ, 10:00 – 21:00</p>
    </div>

    <div class="about-us-location__map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.5355702184384!2d30.6525356!3d50.393855699999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c45b25de7de9%3A0x57a59fa1c4a45b9d!2z0YPQuy4g0JLQuNGI0L3Rj9C60L7QstGB0LrQsNGPLCAyLCDQmtC40LXQsiwg0KPQutGA0LDQuNC90LAsIDAyMTQw!5e0!3m2!1sru!2spl!4v1701283037952!5m2!1sru!2spl" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    
    <div class="about-us-location__list">
      <a href="tel:+380983125981" class="about-us-location__item card phone">
        <div class="about-us-location__item-icon">
          <img src="../assets/white-phone.svg" alt="Phone Icon">
        </div>
        <div class="about-us-location__item-content">
          <div class="about-us-location__item-title">Телефон</div>
          <div class="about-us-location__item-text text">+380 95 97 79 593</div>
        </div>
      </a>
      <a href="https://tinyurl.com/4nrz8nch" target="_blank" class="about-us-location__item card viber">
        <div class="about-us-location__item-icon">
          <img src="../assets/viber-icon.svg" alt="Viber Icon">
        </div>
        <div class="about-us-location__item-content">
          <div class="about-us-location__item-title">Viber</div>
          <div class="about-us-location__item-text text">+380 95 97 79 593</div>
        </div>
      </a>
      <a href="https://t.me/thecaresmart" target="_blank" class="about-us-location__item card telegram">
        <div class="about-us-location__item-icon">
          <img src="../assets/telegram-icon.svg" alt="Telegram Icon">
        </div>
        <div class="about-us-location__item-content">
          <div class="about-us-location__item-title">Telegram</div>
          <div class="about-us-location__item-text text">@thecaresmart</div>
        </div>
      </a>
      <a href="mailto:smarthome101@gmail.com" class="about-us-location__item card email">
        <div class="about-us-location__item-icon">
          <img src="../assets/white-email.svg" alt="Mail Icon">
        </div>
        <div class="about-us-location__item-content">
          <div class="about-us-location__item-title">Електронна пошта</div>
          <div class="about-us-location__item-text text">smarthome101@gmail.com</div>
        </div>
      </a>
    </div>
    
  </div>
</section>