<section class="security-feature about-us-banner">

  <div class="about-us-banner__container container bg-lines">
    <div class="about-us-banner__banner section-title-wrapper">
      <h3 class="about-us-banner__subtitle section-subtitle">Про нас</h3>
      <h1 class="about-us-banner__title">Ми дбаємо про вашу безпеку та комфорт</h1>
      <p class="about-us-banner__text text">Ми – експерти в установці систем розумного будинку, що забезпечують вашому житлу безпеку, ефективність та комфорт.</p>
      <img class="about-us-banner__image image-loaded" src="./assets/about-us-banner.png" alt="Image">
    </div>

    <div class="about-us-statistic">
      <div class="about-us-statistic__wrapper">
        <div class="about-us-statistic__card card">
          <div class="about-us-statistic__value">5</div>
          <div class="about-us-statistic__text">Років на ринку</div>
        </div>
        <div class="about-us-statistic__card card">
          <div class="about-us-statistic__value">100+</div>
          <div class="about-us-statistic__text">Задоволених клієнтів</div>
        </div>
        <div class="about-us-statistic__card card">
          <div class="about-us-statistic__value">8</div>
          <div class="about-us-statistic__text">Виробників обладнання</div>
        </div>
        <div class="about-us-statistic__card card">
          <div class="about-us-statistic__value">11</div>
          <div class="about-us-statistic__text">Працівників</div>
        </div>
      </div>
    </div>

    <img loading="lazy" class="bg-lines__image desktop" src="./assets/feature-bg-lines-desktop.png" alt="Background lines">
    <img loading="lazy" class="bg-lines__image mobile" src="./assets/feature-bg-lines-mobile.png" alt="Background lines">
  </div>

</section>