<section class="service">
  <div class="service__container">
    <div class="service__info container">
      <div class="service__title-wrapper section-title-wrapper">
        <h3 class="service__subtitle section-subtitle">Наші переваги</h3>
        <h2 class="service__title section-title">Крокуйте у майбутнє разом з нами</h2>
      </div>
      <p class="service__text text">Наша мета - бути вашим надійним провідником у світі інноваційних технологій розумного будинку.</p>
    </div>
    <div class="service__list card-list container">

      <div class="service__item card">
        <div class="card-head">
          <div class="card-icon icon-blue">
            <img src="../assets/white-fast.svg" alt="Bolt Icon">
          </div>
          <div class="card-tag tag dark">Встановимо за 3 дні</div>
        </div>
        <div class="card-title">Швидкість</div>
        <p class="card-text text">Наші проекти займають значно менше часу, порівняно з провідними системами,
          адже ми уникаємо затяжних робіт з прокладання кабелів.</p>
      </div>
      <div class="service__item card">
        <div class="card-head">
          <div class="card-icon icon-blue">
            <img src="../assets/white-money-label.svg" alt="Message Icon">
          </div>
          <div class="card-tag tag dark">Ціни від 100$</div>
        </div>
        <div class="card-title">Приємна ціна, яка залежить від:</div>
        <p class="card-text text bullet-text">обраних вами функцій безпеки та комфорту;</p>
        <p class="card-text text bullet-text">кількості приміщень;</p>
        <p class="card-text text bullet-text">площі приміщень.</p>
      </div>
      <div class="service__item card">
        <div class="card-head">
          <div class="card-icon icon-blue">
            <img src="../assets/white-headphones.svg" alt="Message Icon">
          </div>
          <div class="card-tag tag dark">Безкоштовно</div>
        </div>
        <div class="card-title">Консультація та підтримка</div>
        <p class="card-text text">Виконаємо усе необхідне за вас! Ми на зв’язку після встановлення та завжди готові
          допомогти адаптувати функції під ваші актуальні потреби.</p>
      </div>
    </div>
    <a href="/calculator.html" class="about-us-advantages__button button blue">Розрахувати вартість</a>
  </div>
</section>