<section class="advantages navigation-section" id="advantages">
  <div class="advantages__container container">

    <div class="advantages__info">
      <div class="advantages__title-wrapper section-title-wrapper">
        <h3 class="advantages__subtitle section-subtitle">Наші переваги</h3>
        <h2 class="advantages__title section-title">
          Крокуйте у майбутнє разом з нами
        </h2>
      </div>
      <p class="advantages__text text">Наша мета - бути вашим надійним провідником у світі інноваційних
        технологій розумного будинку.</p>
    </div>

    <div class="advantages__list card-list">

      <div class="advantages__item card">
        <div class="card-head">
          <div class="card-icon icon-blue">
            <img src="../assets/white-money-label.svg" alt="Money label Icon">
          </div>
          <div class="card-tag tag dark">Ціни від 100$</div>
        </div>
        <div class="card-title">Приємна ціна</div>
        <p class="card-text text">Ми допомагаємо ефективно оптимізувати ваш бюджет та отримати максимум переваг
          без додаткових витрат на проводку та монтаж.</p>
      </div>
      <div class="advantages__item card">
        <div class="card-head">
          <div class="card-icon icon-blue">
            <img src="../assets/white-fast.svg" alt="Fast Icon">
          </div>
          <div class="card-tag tag dark">Встановимо за 3 дні</div>
        </div>
        <div class="card-title">Швидкість</div>
        <p class="card-text text">Наші проекти займають значно менше часу, порівняно з провідними системами,
          адже ми уникаємо затяжних робіт з прокладання кабелів.</p>
      </div>
      <div class="advantages__item card">
        <div class="card-head">
          <div class="card-icon icon-blue">
            <img src="../assets/white-headphones.svg" alt="Message Icon">
          </div>
          <div class="card-tag tag dark">Безкоштовно</div>
        </div>
        <div class="card-title">Консультація та підтримка</div>
        <p class="card-text text">Виконаємо усе необхідне за вас! Ми на зв’язку після встановлення та завжди
          готові допомогти адаптувати функції під ваші актуальні потреби.</p>
      </div>

    </div>

  </div>
</section>