<section class="banner navigation-section" id="banner">
  <div class="banner__container container">
    <div class="banner__wrapper">

      <div class="banner__info">
        <div class="banner__subtitle">
          <img src="../assets/min-blue-logo.svg" alt="Logo Blue">
          <h2>УВІМКНИ СВІЙ БУДИНОК НА МАКСИМУМ</h2>
        </div>
        <h1 class="banner__title">Бездротовий розумний <br> будинок твоєї мрії</h1>
        <button class="banner__button-consultation button blue consultation">
          Безкоштовна Консультація
          <img src="../assets/white-arrow-right.svg" alt="Icon">
        </button>
      </div>

      <div class="banner__house">
        <div class="banner__house-wrapper card">
          <img class="banner__house-image image-loaded" src="../assets/smart-house.png" alt="Smart house example">
          <h2 class="banner__house-title">
            <span>Будь-яке приміщення</span> може стати розумним завдяки нашій системі розумного будинку
          </h2>
          <div class="banner__house-info">
            <p class="banner__house-text text">
              Бездротова система розумного будинку легко встановлюється та адаптується до будь-яких особливостей приміщення,
              його розміру чи призначення.
            </p>
            <div class="banner__house-tags">
              <div class="banner__house-tag tag">
                <img src="../assets/blue-house.svg" alt="House Icon">
                <span>Будинок</span>
              </div>
              <div class="banner__house-tag tag">
                <img src="../assets/blue-flat.svg" alt="Flat Icon">
                <span>Квартира</span>
              </div>
              <div class="banner__house-tag tag">
                <img src="../assets/blue-bag.svg" alt="ag Icon">
                <span>Офіс</span>
              </div>
            </div>
          </div>
        </div>

        <div class="banner__house-features" id="banner-house-features">

          <div class="banner__house-feature-hover">
            <img class="banner__house-feature-pin" src="../assets/smart-pin.svg" alt="Pin Icon">
            <div class="banner__house-feature card">
              <div class="banner__house-feature-wrapper">
                <div class="banner__house-feature-image">
                  <img src="../assets/white-light.svg" alt="Icon">
                </div>
                <div class="banner__house-feature-content">
                  <div class="banner__house-feature-title">Керуйте світлом у всьому будинку</div>
                  <div class="banner__house-feature-text text">Єдина система управління, за допомогою якої пов'язані всі освітлювальні прилади.</div>
                </div>
              </div>
              <div class="banner__house-feature-tags">
                <div class="banner__house-feature-tag tag">
                  <img src="../assets/white-micro.svg" alt="Tag Icon">
                  <span>Голосове управління</span>
                </div>
                <div class="banner__house-feature-tag tag">
                  <img src="../assets/white-iphone.svg" alt="Tag Icon">
                  <span>Керуйте з телефону</span>
                </div>
              </div>
            </div>
          </div>
          <div class="banner__house-feature-hover">
            <img class="banner__house-feature-pin" src="../assets/smart-pin.svg" alt="Pin Icon">
            <div class="banner__house-feature card">
              <div class="banner__house-feature-wrapper">
                <div class="banner__house-feature-image">
                  <img src="../assets/white-blinds.svg" alt="Icon">
                </div>
                <div class="banner__house-feature-content">
                  <div class="banner__house-feature-title">Автоматичні штори, двері та ролети</div>
                  <div class="banner__house-feature-text text">Віддалено збільшуйте або зменшуйте обсяг світла, що проникає в приміщення.</div>
                </div>
              </div>
              <div class="banner__house-feature-tags">
                <div class="banner__house-feature-tag tag">
                  <img src="../assets/white-micro.svg" alt="Tag Icon">
                  <span>Голосове управління</span>
                </div>
                <div class="banner__house-feature-tag tag">
                  <img src="../assets/white-iphone.svg" alt="Tag Icon">
                  <span>Керуйте з телефону</span>
                </div>
              </div>
            </div>
          </div>
          <div class="banner__house-feature-hover">
            <img class="banner__house-feature-pin" src="../assets/smart-pin.svg" alt="Pin Icon">
            <div class="banner__house-feature card">
              <div class="banner__house-feature-wrapper">
                <div class="banner__house-feature-image">
                  <img src="../assets/white-drop.svg" alt="Icon">
                </div>
                <div class="banner__house-feature-content">
                  <div class="banner__house-feature-title">Антипотом система</div>
                  <div class="banner__house-feature-text text">Датчики ідентифікують протікання або затоплення та автоматично перекривають воду у разі потреби.</div>
                </div>
              </div>
              <div class="banner__house-feature-tags">
                <div class="banner__house-feature-tag tag">
                  <img src="../assets/white-lock.svg" alt="Tag Icon">
                  <span>Система протистоїть загрозам автоматично</span>
                </div>
              </div>
            </div>
          </div>
          <div class="banner__house-feature-hover">
            <img class="banner__house-feature-pin" src="../assets/smart-pin.svg" alt="Pin Icon">
            <div class="banner__house-feature card">
            <div class="banner__house-feature-wrapper">
              <div class="banner__house-feature-image">
                <img src="../assets/white-extract.svg" alt="Icon">
              </div>
              <div class="banner__house-feature-content">
                <div class="banner__house-feature-title">Розумна витяжка</div>
                <div class="banner__house-feature-text text">Система автоматично вмикає витяжку згідно з рівнем пару та дозволяє віддалено регулювати швидкість вентиляції, що оптимізовує споживання електроенергії.</div>
              </div>
            </div>
            <div class="banner__house-feature-tags">
              <div class="banner__house-feature-tag tag">
                <img src="../assets/white-micro.svg" alt="Tag Icon">
                <span>Голосове управління</span>
              </div>
              <div class="banner__house-feature-tag tag">
                <img src="../assets/white-iphone.svg" alt="Tag Icon">
                <span>Керуйте з телефону</span>
              </div>
            </div>
          </div>
          </div>
          <div class="banner__house-feature-hover">
            <img class="banner__house-feature-pin" src="../assets/smart-pin.svg" alt="Pin Icon">
            <div class="banner__house-feature card">
            <div class="banner__house-feature-wrapper">
              <div class="banner__house-feature-image">
                <img src="../assets/white-warm-floor.svg" alt="Icon">
              </div>
              <div class="banner__house-feature-content">
                <div class="banner__house-feature-title">Тепла підлога</div>
                <div class="banner__house-feature-text text">Віддалено контролюйте роботу теплої підлоги у різних кімнатах.</div>
              </div>
            </div>
            <div class="banner__house-feature-tags">
              <div class="banner__house-feature-tag tag">
                <img src="../assets/white-micro.svg" alt="Tag Icon">
                <span>Голосове управління</span>
              </div>
              <div class="banner__house-feature-tag tag">
                <img src="../assets/white-iphone.svg" alt="Tag Icon">
                <span>Керуйте з телефону</span>
              </div>
            </div>
          </div>
          </div>
          <div class="banner__house-feature-hover">
            <img class="banner__house-feature-pin" src="../assets/smart-pin.svg" alt="Pin Icon">
            <div class="banner__house-feature card">
            <div class="banner__house-feature-wrapper">
              <div class="banner__house-feature-image">
                <img src="../assets/white-robot.svg" alt="Icon">
              </div>
              <div class="banner__house-feature-content">
                <div class="banner__house-feature-title">Робот пилосос та інша електроніка???</div>
                <div class="banner__house-feature-text text">Встановлюйте режим роботи пилососа у своєму будинку з будь-якої відстані та завжди будьте готові до візиту гостей.</div>
              </div>
            </div>
            <div class="banner__house-feature-tags">
              <div class="banner__house-feature-tag tag">
                <img src="../assets/white-micro.svg" alt="Tag Icon">
                <span>Голосове управління</span>
              </div>
              <div class="banner__house-feature-tag tag">
                <img src="../assets/white-iphone.svg" alt="Tag Icon">
                <span>Керуйте з телефону</span>
              </div>
            </div>
          </div>
          </div>
          <div class="banner__house-feature-hover">
            <img class="banner__house-feature-pin" src="../assets/smart-pin.svg" alt="Pin Icon">
            <div class="banner__house-feature card">
            <div class="banner__house-feature-wrapper">
              <div class="banner__house-feature-image">
                <img src="../assets/white-conditioner.svg" alt="Icon">
              </div>
              <div class="banner__house-feature-content">
                <div class="banner__house-feature-title">Клімат-контроль</div>
                <div class="banner__house-feature-text text">
                  Налаштуйте клімат-контроль вашого приміщення. Кондиціонер автоматично підготує оптимальну температуру при вашому наближенні до будинку.
                  <br>
                  <br>
                  Налаштуйте власний графік клімат-контролю або використовуйте дистанційне управління для встановлення оптимальної температури до вашого повернення.
                </div>
              </div>
            </div>
            <div class="banner__house-feature-tags">
              <div class="banner__house-feature-tag tag">
                <img src="../assets/white-micro.svg" alt="Tag Icon">
                <span>Голосове управління</span>
              </div>
              <div class="banner__house-feature-tag tag">
                <img src="../assets/white-iphone.svg" alt="Tag Icon">
                <span>Керуйте з телефону</span>
              </div>
            </div>
          </div>
          </div>
          <div class="banner__house-feature-hover">
            <img class="banner__house-feature-pin" src="../assets/smart-pin.svg" alt="Pin Icon">
            <div class="banner__house-feature card">
            <div class="banner__house-feature-wrapper">
              <div class="banner__house-feature-image">
                <img src="../assets/white-tv.svg" alt="Icon">
              </div>
              <div class="banner__house-feature-content">
                <div class="banner__house-feature-title">Телевізор та домашній кінотеатр</div>
                <div class="banner__house-feature-text text">Спрощене налаштування яскравості і насиченості картинки, гучності, частоти та багато іншого.</div>
              </div>
            </div>
            <div class="banner__house-feature-tags">
              <div class="banner__house-feature-tag tag">
                <img src="../assets/white-micro.svg" alt="Tag Icon">
                <span>Голосове управління</span>
              </div>
              <div class="banner__house-feature-tag tag">
                <img src="../assets/white-iphone.svg" alt="Tag Icon">
                <span>Керуйте з телефону</span>
              </div>
            </div>
          </div>
          </div>
          <div class="banner__house-feature-hover">
            <img class="banner__house-feature-pin" src="../assets/smart-pin.svg" alt="Pin Icon">
            <div class="banner__house-feature card">
            <div class="banner__house-feature-wrapper">
              <div class="banner__house-feature-image">
                <img src="../assets/white-fire.svg" alt="Icon">
              </div>
              <div class="banner__house-feature-content">
                <div class="banner__house-feature-title">Протипожежна безпека</div>
                <div class="banner__house-feature-text text">Включені в комплект датчики реагують на задимленість, високу температуру і чадний газ та ефектино протистоять загрозі. </div>
              </div>
            </div>
            <div class="banner__house-feature-tags">
              <div class="banner__house-feature-tag tag">
                <img src="../assets/white-lock.svg" alt="Tag Icon">
                <span>Система протистоїть загрозам автоматично</span>
              </div>
            </div>
          </div>
          </div>
          <div class="banner__house-feature-hover">
            <img class="banner__house-feature-pin" src="../assets/smart-pin.svg" alt="Pin Icon">
            <div class="banner__house-feature card">
            <div class="banner__house-feature-wrapper">
              <div class="banner__house-feature-image">
                <img src="../assets/white-alarm.svg" alt="Icon">
              </div>
              <div class="banner__house-feature-content">
                <div class="banner__house-feature-title">Сигналізація</div>
                <div class="banner__house-feature-text text">Система відеоспостереження, датчики руху,  сигналізація - повний контроль за безпекою дому та сім’і  у вашому смартфоні.</div>
              </div>
            </div>
            <div class="banner__house-feature-tags">
              <div class="banner__house-feature-tag tag">
                <img src="../assets/white-lock.svg" alt="Tag Icon">
                <span>Система протистоїть загрозам автоматично</span>
              </div>
            </div>
          </div>
          </div>

          <button class="banner__house-feature-button button dark">
            Показати усі можливості
            <img src="../assets/gray-arrow-down.svg" alt="Arrow Down">
          </button>

        </div>

      </div>

      <div class="banner__benefits">
        <div class="banner__benefits-item">
          <img class="banner__benefits-image" src="../assets/white-lock.svg" alt="Benefits Icon">
          <div class="banner__benefits-title">150+ функцій безпеки</div>
          <div class="banner__benefits-text text">Повна впевненість та контроль, який забезпечує надійний захист вашого дому та близьких.</div>
        </div>
        <div class="banner__benefits-item">
          <img class="banner__benefits-image" src="../assets/white-stars.svg" alt="Benefits Icon">
          <div class="banner__benefits-title">100+ Функцій Комфорту</div>
          <div class="banner__benefits-text text">Ідеальне середовище, де ви можете насолоджуватися зручністю та розкішшю в кожному куточку вашого житла.</div>
        </div>
        <div class="banner__benefits-automation">
          <div class="banner__benefits-automation-image" >
            <img src="../assets/white-recycle.svg" alt="Recycle Icon">
          </div>
          <div class="banner__benefits-automation-text">Побудуйте розумну Автоматизовану систему <br> безпеки та комфорту</div>
        </div>
      </div>

    </div>
  </div>
</section>