<div class="black-friday-modal__backdrop modal__backdrop">
  <div class="black-friday-modal modal">

    <div class="black-friday-modal__wrapper">
      <div class="modal__close">
        <img src="../assets/white-cross.svg" alt="Cross">
      </div>

      <img class="black-friday-modal__image" src="../assets/black-friday-image.png" alt="black friday image">
      <div class="black-friday-modal__title">
        Знижки <span>-20%</span> на встановлення систем розумного будинку.
        <br> 20 – 26 листопада
      </div>
      <p class="black-friday-modal__text text">Залиште свої контакти і ми звʼяжемося з вами у найближчий робочий час для
        зʼясування деталей</p>
      <form class="form-modal__form" action="https://formspree.io/f/mrgwqeyd" method="POST">
        <div class="input-group">
          <label for="name" class="label">Імʼя*</label>
          <input class="input" id="name" name="Імʼя" type="text" placeholder="Введіть ваше імʼя" required>
        </div>
        <div class="input-group">
          <label for="phone" class="label">Телефон*</label>
          <input
            class="input"
            id="phone"
            name="Телефон"
            value="+380"
            placeholder="+380XXXXXXXXX"
            type="tel"
            pattern="^\+380[0-9]{9}$"
            title="Введіть данні в форматі +380XXXXXXXXX"
            required
          >
        </div>
        <button class="black-friday-modal__button button blue" type="submit">
          <span>Передзвоніть мені</span>
        </button>
      </form>
    </div>
    
  </div>
</div>