<section class="calculator__banner">
  <div class="functions-page__container container bg-lines">
    <div class="functions-page__banner">
      <h1 class="functions-page__title">Розумний будинок доступніший, ніж ви вважали</h1>
      <p class="functions-page__text text">Пройдіть швидке опитування, щоб дізнатися скільки коштуватиме розумний
        будинок під ваші вимоги. Ми не вимагатимемо ваш телефон чи пошту.</p>
      <button class="functions-page__button button blue calculator" type="button">
        Розрахувати вартість
      </button>
      <img class="functions-page__image image-loaded" src="../assets/calculator-banner-image.png" alt="Image">
    </div>
    <div class="functions-page__label">
      <div class="functions-page__label-image">
        <img src="../assets/white-info.svg" alt="Info Icon">
      </div>
      <span>
          Ми підрахуємо орієнтовану вартість розумного згідно ваших потреб. Додатковими чинниками, що формують вартість
          є виробник пристроїв, кількість суенаріїв автоматизації та складність монтажу системи.
        </span>
    </div>

    <img class="bg-lines__image desktop" src="../assets/calculator-bg-lines-desktop.png" alt="Background lines">
    <img class="bg-lines__image mobile" src="../assets/calculator-bg-lines-mobile.png" alt="Background lines">
  </div>
</section>