<div class="confirm-modal__backdrop modal__backdrop">

  <div class="confirm-modal modal">
    <a href="/" class="modal__close">
      <img src="../assets/white-cross.svg" alt="Cross">
    </a>
    <div class="confirm-modal__accept">
      <img src="../assets/white-accept.svg" alt="Icon">
    </div>
    <div class="confirm-modal__title">Дякуємо!</div>
    <div class="confirm-modal__text text">Ми отримали ваші контактні дані та незабаром звʼяжемося з вами.</div>
    <a class="confirm-modal__button button gray" href="/">Повернутися на головну</a>
  </div>

</div>