<section class="contact-us-banner">
  <div class="contact-us-banner__container container">
    <div class="contact-us-banner__wrapper">
      <div class="contact-us-banner__info">
        <div class="contact-us-banner__content section-title-wrapper">
          <h3 class="contact-us-banner__subtitle section-subtitle">контакти</h3>
          <h2 class="contact-us-banner__title section-title">Є питання?</h2>
          <p class="contact-us-banner__subtitle text">Ви можете звʼязатися з нами будь-яким зручним для вас способом або
            залишити свої контактні дані, щоб ми передзвонили.</p>
          <button class="contact-us-banner__button button blue consultation" type="button">
            Зворотній звʼязок
            <img src="../assets/white-arrow-right.svg" alt="Icon">
          </button>
        </div>
      </div>

      <div class="contact-us-banner__list">
        <a href="tel:+380983125981" class="contact-us-banner__item card phone">
          <div class="contact-us-banner__item-icon">
            <img src="../assets/white-phone.svg" alt="Phone Icon">
          </div>
          <div class="contact-us-banner__item-content">
            <div class="contact-us-banner__item-title">Телефон</div>
            <div class="contact-us-banner__item-text text">+380 95 97 79 593</div>
          </div>
        </a>
        <a href="https://msng.link/o?380975125223=vi" target="_blank" class="contact-us-banner__item card viber">
          <div class="contact-us-banner__item-icon">
            <img src="../assets/viber-icon.svg" alt="Viber Icon">
          </div>
          <div class="contact-us-banner__item-content">
            <div class="contact-us-banner__item-title">Viber</div>
            <div class="contact-us-banner__item-text text">+380 95 97 79 593</div>
          </div>
        </a>
        <a href="https://t.me/thecaresmart" target="_blank" class="contact-us-banner__item card telegram">
          <div class="contact-us-banner__item-icon">
            <img src="../assets/telegram-icon.svg" alt="Telegram Icon">
          </div>
          <div class="contact-us-banner__item-content">
            <div class="contact-us-banner__item-title">Telegram</div>
            <div class="contact-us-banner__item-text text">@thecaresmart</div>
          </div>
        </a>
        <a href="mailto:smarthome101@gmail.com" class="contact-us-banner__item card email">
          <div class="contact-us-banner__item-icon">
            <img src="../assets/white-email.svg" alt="Mail Icon">
          </div>
          <div class="contact-us-banner__item-content">
            <div class="contact-us-banner__item-title">Електронна пошта</div>
            <div class="contact-us-banner__item-text text">smarthome101@gmail.com</div>
          </div>
        </a>
        <div class="contact-us-banner__item card showroom showroom-trigger">
          <div class="contact-us-banner__item-icon">
            <img src="../assets/white-location.svg" alt="Mail Icon">
          </div>
          <div class="contact-us-banner__item-content">
            <div class="contact-us-banner__item-title">Шоурум</div>
            <div class="contact-us-banner__item-text text">м. Київ, вул. Вишняковська 2, ПН – ПТ, 10:00 – 18:00</div>
          </div>
        </div>
      </div>
    </div>

    <div class="contact-us-banner__map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2543.5355702184384!2d30.6525356!3d50.393855699999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c45b25de7de9%3A0x57a59fa1c4a45b9d!2z0YPQuy4g0JLQuNGI0L3Rj9C60L7QstGB0LrQsNGPLCAyLCDQmtC40LXQsiwg0KPQutGA0LDQuNC90LAsIDAyMTQw!5e0!3m2!1sru!2spl!4v1701283037952!5m2!1sru!2spl" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>