<div class="cookie">
  <div class="cookie__container card">
    <div class="cookie__body">
      <div class="cookie__header">
        <div class="cookie__header-title">Ми цінуємо вашу конфеденційність</div>
        <div class="cookie__header-text text">Ми використовуємо кукі-файли, щоб забезпечити для вас якнайкращі враження
          від користування сайтом та покращити доцільність наших контактів з вами.</div>
      </div>
      <div class="cookie__agreements">
        <div class="cookie__item">
          <div class="cookie__item-left">
            <div class="cookie__item-title">Дозволяю кукі-файли, що відповідають за аналітику</div>
            <div class="cookie__item-text text">Збирайте інформацію про те, як ви користуєтесь нашим веб-сайтом.
              Допоможіть нам покращити функції, виявивши будь-яку помилку на нашому веб-сайті.</div>
          </div>
          <div class="cookie__item-right">
            <label class="input-checkbox" for="cookie-analytics">
              <input type="checkbox" id="cookie-analytics" checked>
              <span class="circle"></span>
            </label>
          </div>
        </div>
        <div class="cookie__item">
          <div class="cookie__item-left">
            <div class="cookie__item-title">Дозволяю кукі-файли, що відповідають за маркетинг</div>
            <div class="cookie__item-text text">Збирайте інформацію про те, як ви користуєтесь нашим веб-сайтом.
              Допоможіть нам покращити функції, виявивши будь-яку помилку на нашому веб-сайті.</div>
          </div>
          <div class="cookie__item-right">
            <label class="input-checkbox" for="cookie-marketing">
              <input type="checkbox" id="cookie-marketing" checked>
              <span class="circle"></span>
            </label>
          </div>
        </div>
        <div class="cookie__item">
          <div class="cookie__item-left">
            <div class="cookie__item-title">Дозволяю кукі-файли, що передають дані соцмережам</div>
            <div class="cookie__item-text text">Підтримка функцій обміну на веб-сайтах партнерів.Реклама
              нашої продукції на веб-сайтах партнерів та соціальних мереж.</div>
          </div>
          <div class="cookie__item-right">
            <label class="input-checkbox" for="cookie-social">
              <input type="checkbox" id="cookie-social" checked>
              <span class="circle"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="cookie__nav">
      <button class="cookie__button-params button dark" type="button">Змінити параметри</button>
      <button class="cookie__button-submit button blue" type="button">Прийняти усі</button>
    </div>
  </div>
</div>