<link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_16.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_32.png">
<link rel="icon" type="image/png" sizes="48x48" href="../assets/favicon_48.png">
<link rel="icon" type="image/png" sizes="64x64" href="../assets/favicon_48.png">
<link rel="icon" type="image/png" sizes="128x128" href="../assets/favicon_128.png">
<link rel="icon" type="image/png" sizes="192x192" href="../assets/favicon_192.png">
<link rel="icon" type="image/png" sizes="512x512" href="../assets/favicon_512.png">
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5LBD4RC4');</script>
<!-- End Google Tag Manager -->
<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '820912996241451');
  fbq('track', 'PageView');
</script>
<noscript>
  <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=820912996241451&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YSLZZCKEMC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YSLZZCKEMC');
</script>