<link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_16.png">
<link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_32.png">
<link rel="icon" type="image/png" sizes="48x48" href="../assets/favicon_48.png">
<link rel="icon" type="image/png" sizes="64x64" href="../assets/favicon_48.png">
<link rel="icon" type="image/png" sizes="128x128" href="../assets/favicon_128.png">
<link rel="icon" type="image/png" sizes="192x192" href="../assets/favicon_192.png">
<link rel="icon" type="image/png" sizes="512x512" href="../assets/favicon_512.png">