<section class="features navigation-section" id="features">
  <div class="features__container container">

    <div class="features__info">
      <div class="features__title-wrapper section-title-wrapper">
        <h3 class="features__subtitle section-subtitle">Функції, які ми Пропонуємо</h3>
        <h2 class="features__title section-title">
          Ми безкоштовно допоможемо підібрати набір функцій для ваших цілей завдяки каталогу з <span>1500 позицій</span>
        </h2>
      </div>
      <p class="features__text text">Великий вибір опцій дозволяє збагатити ваш розумний будинок різноманітними
        функціями. Обирайте самостійно, що найкраще відповідає вашим потребам та створюйте унікальне, персоналізоване
        середовище.</p>
    </div>

    <div class="features__item">
      <div class="features__item-content card">
        <div class="features__item-main-tag tag blue">
          <img src="../assets/white-lock.svg" alt="Lock Icon">
          <span>Безпека та захист</span>
        </div>
        <p class="features__item-text text">Отримуйте сигнали з усіх датчиків на свій смартфон, щоб завжди бути впевненими в макисмальній
          безпеці своєї оселі. Додатково ви можете налаштувати опцію відправки сигналів до відповідних служб безпеки,
          якщо це відповідає вашим потребам.</p>
        <div class="features__item-tags">
          <div class="features__item-tag tag">
            <img src="../assets/white-drip.svg" alt="Drip Icon">
            <span>Антипотоп система</span>
          </div>
          <div class="features__item-tag tag">
            <img src="../assets/white-flame.svg" alt="Flame Icon">
            <span>Протипожежна система</span>
          </div>
          <div class="features__item-tag tag">
            <img src="../assets/white-balaclava.svg" alt="Balaclava Icon">
            <span>Захист від вторгнення</span>
          </div>
          <div class="features__item-tag tag">
            <img src="../assets/white-user.svg" alt="User Icon">
            <span>Імітація присутності</span>
          </div>
          <div class="features__item-tag tag">
            <img src="../assets/white-camera.svg" alt="Camera Icon">
            <span>Камери стеження за територією</span>
          </div>
          <div class="features__item-tag tag desktop">
            <span>+3</span>
          </div>
        </div>
        <a href="/security.html" class="features__item-button button blue">
          <span>Усі функції безпеки</span>
          <img src="../assets/white-arrow-right.svg" alt="Arrow Icon">
        </a>
      </div>

      <div class="features__item-example">
        <div class="features__item-example-movie">
          <img loading="lazy" class="features__item-example-banner" data-id="0" src="../assets/house-fire-scenario.png" alt="House">
          <button class="features__item-example-play button dark">
            <img src="../assets/gray-play.svg" alt="Play Icon">
            Відтворити
          </button>
        </div>

        <div class="features__item-example__wrapper">
          <div class="features__item-example-title">Приклад протипожежного сценарію</div>
          <p class="features__item-example-text text">Пожежні датчики миттєво реагують на появу диму і зростання
            температури. А сценарій одразу ж знеструмить причину загоряння.</p>
          <div class="features__item-example-situations">
            <div class="features__item-example-situation card">
              <img src="../assets/blue-lightning.svg" alt="Lightning icon">
              Сталось замикання
            </div>
            <div class="features__item-example-situation card">
              <img src="../assets/blue-sensor.svg" alt="Sensor icon">
              Датчик зреагував на дим або на збій
            </div>
            <div class="features__item-example-situation card">
              <img src="../assets/blue-light.svg" alt="Light icon">
              Система знеструмила приміщення
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="features__item">
      <div class="features__item-content card">
        <div class="features__item-main-tag tag blue">
          <img src="../assets/white-stars.svg" alt="Stars Icon">
          <span>Комфорт та продуктивність</span>
        </div>
        <p class="features__item-text text">Будинок готовий зустрічати вас після важкого робочго дня.
          Затишок та комфорт створюють незабутню атмосферу спокою, де кожна дрібниця налаштована саме за вашим бажанням.</p>
        <div class="features__item-tags">
          <div class="features__item-tag tag">
            <img src="../assets/white-light.svg" alt="Light Icon">
            <span>Контроль освітлення</span>
          </div>
          <div class="features__item-tag tag">
            <img src="../assets/white-temperature.svg" alt="Temperature Icon">
            <span>Клімат-контроль</span>
          </div>
          <div class="features__item-tag tag">
            <img src="../assets/white-multiroom.svg" alt="Multiroom Icon">
            <span>Мультирум</span>
          </div>
          <div class="features__item-tag tag">
            <img src="../assets/white-blinds.svg" alt="Blinds Icon">
            <span>Автоматичні двері та ролети</span>
          </div>
          <div class="features__item-tag tag">
            <img src="../assets/white-ventilation.svg" alt="Ventilation Icon">
            <span>Автоматизація вентиляції</span>
          </div>
          <div class="features__item-tag tag desktop">
            <span>+3</span>
          </div>
        </div>
        <a href="/comfort.html" class="features__item-button button blue">
          <span>Усі функції комфорту</span>
          <img src="../assets/white-arrow-right.svg" alt="Arrow Icon">
        </a>
      </div>

      <div class="features__item-example">
        <div class="features__item-example-movie">
          <img loading="lazy" class="features__item-example-banner" data-id="1" src="../assets/house-comfort-performance.png" alt="House">
          <button class="features__item-example-play button dark">
            <img src="../assets/gray-play.svg" alt="Play Icon">
            Відтворити
          </button>
        </div>

        <div class="features__item-example__wrapper">
          <div class="features__item-example-title">Приклад автоматизації воріт</div>
          <p class="features__item-example-text text">Керування за допомогою голосу дозволяє на відстані відчиняти чи
            зачиняти ворота. За вашим бажанням датчики можуть реагувати на приближення машини до воріт, та відчиняти
            їх автоматично.</p>
          <div class="features__item-example-situations">
            <div class="features__item-example-situation card">
              <img src="../assets/blue-microphone.svg" alt="Microphone icon">
              Скажіть “Відчини ворота”
            </div>
            <div class="features__item-example-situation card">
              <img src="../assets/blue-sensor.svg" alt="Sensor icon">
              Датчик віддає сигнал системі
            </div>
            <div class="features__item-example-situation card">
              <img src="../assets/blue-two-top-arrows.svg" alt="two top arrows icon">
              Ворота відчиняються автоматично
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>