<div class="fixed-navigation">
  <a class="fixed-navigation__item active" href="#banner">
    <span class="fixed-navigation__dot"></span>
    <span class="fixed-navigation__section-name">Огляд</span>
  </a>
  <a class="fixed-navigation__item" href="#service">
    <span class="fixed-navigation__dot"></span>
    <span class="fixed-navigation__section-name">Наш сервіс</span>
  </a>
  <a class="fixed-navigation__item" href="#features">
    <span class="fixed-navigation__dot"></span>
    <span class="fixed-navigation__section-name">Функції розумного будинку</span>
  </a>
  <a class="fixed-navigation__item" href="#processes-automation">
    <span class="fixed-navigation__dot"></span>
    <span class="fixed-navigation__section-name">Автоматизація</span>
  </a>
  <a class="fixed-navigation__item" href="#convenient-control">
    <span class="fixed-navigation__dot"></span>
    <span class="fixed-navigation__section-name">Способи керування</span>
  </a>
  <a class="fixed-navigation__item" href="#advantages">
    <span class="fixed-navigation__dot"></span>
    <span class="fixed-navigation__section-name">Наші переваги</span>
  </a>
  <a class="fixed-navigation__item" href="#wireless-system">
    <span class="fixed-navigation__dot"></span>
    <span class="fixed-navigation__section-name">Бездротова система</span>
  </a>
  <a class="fixed-navigation__item" href="#products">
    <span class="fixed-navigation__dot"></span>
    <span class="fixed-navigation__section-name">Продукти</span>
  </a>
  <a class="fixed-navigation__item" href="#save-bills">
    <span class="fixed-navigation__dot"></span>
    <span class="fixed-navigation__section-name">Заощадження</span>
  </a>
  <a class="fixed-navigation__item" href="#have-questions">
    <span class="fixed-navigation__dot"></span>
    <span class="fixed-navigation__section-name">Відповіді на питання</span>
  </a>
</div>