<header class="header">
  <div class="header__container">

    <div class="header__wrapper mobile">
      <div class="header__left">
        <a class="header__logo" href="/">
          <img src="../assets/min-white-logo.svg" alt="Logo">
        </a>
      </div>

      <div class="header__right">
        <button class="header__nav-button button blue" type="button">
          Консультація
          <img src="../assets/white-arrow-right.svg" alt="Icon">
        </button>
        <div class="header__burger">
          <div class="header__burger-line-1"></div>
          <div class="header__burger-line-2"></div>
          <div class="header__burger-line-3"></div>
        </div>
      </div>

      <div class="header__menu">
        <a class="header__menu-link" href="/secure">
          <span class="header__menu-link-text">Функції безпеки</span>
          <img src="../assets/min-white-arrow-right.svg" alt="Icon">
        </a>
        <a class="header__menu-link" href="/comfort">
          <span class="header__menu-link-text">Функції комфорту</span>
          <img src="../assets/min-white-arrow-right.svg" alt="Icon">
        </a>
        <a class="header__menu-link" href="/calculator">
          <span class="header__menu-link-text">Розрахувати вартість</span>
          <img src="../assets/min-white-arrow-right.svg" alt="Icon">
        </a>
        <a class="header__menu-link phone" href="tel:+380955995733">
          <img src="../assets/white-phone.svg" alt="Icon">
          <span class="header__menu-link-text">+380 955 995 733</span>
        </a>

        <div class="header__menu-action-wrapper">
          <div class="header__menu-action-title">Бездротовий розумний будинок твоєї мрії</div>
          <button class="header__nav-button button blue" type="button">
            Безкоштовна консультація
            <img src="../assets/white-arrow-right.svg" alt="Icon">
          </button>
        </div>
      </div>
    </div>

    <div class="header__wrapper desktop">
      <div class="header__left">
        <a class="header__logo" href="/">
          <img src="../assets/white-logo.svg" alt="Logo">
        </a>
        <a class="header__link" href="/secure">Безпека</a>
        <a class="header__link" href="/comfort">Комфорт</a>
        <a class="header__link" href="/calculator">Розрахувати вартість</a>
      </div>
      <div class="header__right">
        <a class="header__link" href="tel:+380955995733">+380 955 995 733</a>
        <button class="header__nav-button button blue" type="button">
          Консультація
          <img src="../assets/white-arrow-right.svg" alt="Icon">
        </button>
      </div>
    </div>
  </div>
</header>