<header class="header">
  <div class="header__container">

    <div class="header__wrapper mobile">
      <div class="header__left">
        <a class="header__logo" href="/">
          <img src="../assets/min-white-logo.svg" alt="Logo">
        </a>
      </div>

      <div class="header__right">
        <button class="header__nav-button button blue consultation" type="button">
          Консультація
          <img src="../assets/white-arrow-right.svg" alt="Icon">
        </button>
        <div class="header__burger">
          <div class="header__burger-line-1"></div>
          <div class="header__burger-line-2"></div>
          <div class="header__burger-line-3"></div>
        </div>
      </div>

      <div class="header__menu">

        <div class="header__actions">
          <div class="header__location-dropdown simple-dropdown">
            <div class="simple-dropdown-button button gray">
              Київ
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2337_16589)">
                  <path d="M9.9999 13.3333C9.80519 13.3337 9.6165 13.2659 9.46657 13.1417L4.46657 8.97501C4.29639 8.83356 4.18937 8.6303 4.16905 8.40994C4.14874 8.18959 4.21679 7.97019 4.35824 7.80001C4.49969 7.62983 4.70295 7.52281 4.9233 7.50249C5.14366 7.48217 5.36306 7.55022 5.53324 7.69167L9.9999 11.425L14.4666 7.82501C14.5518 7.75578 14.6499 7.70409 14.7552 7.6729C14.8605 7.64171 14.9709 7.63163 15.0801 7.64324C15.1892 7.65486 15.2951 7.68794 15.3914 7.74058C15.4878 7.79323 15.5728 7.8644 15.6416 7.95001C15.7179 8.03569 15.7757 8.13621 15.8113 8.24527C15.847 8.35434 15.8598 8.46959 15.8488 8.58381C15.8379 8.69802 15.8034 8.80875 15.7477 8.90905C15.692 9.00935 15.6161 9.09705 15.5249 9.16667L10.5249 13.1917C10.3707 13.2963 10.1858 13.3461 9.9999 13.3333Z" fill="#84899A"/>
                </g>
                <defs>
                  <clipPath id="clip0_2337_16589">
                    <rect width="20" height="20" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            </div>
            <div class="simple-dropdown-body">
              <div class="header__location-item">
                <img src="../assets/black-location.svg" alt="Location Icon">
                Київ
              </div>
              <div class="header__location-info">
                <img src="../assets/gray-information.svg" alt="Information Icon">
                <span>Наразі ми пропонуємо наші послуги тільки в місті Київ.</span>
              </div>
            </div>
          </div>
          <div class="header__showroom button gray">
            Відвідати Шоурум
          </div>
        </div>

        <a class="header__menu-link" href="/security.html">
          <span class="header__menu-link-text">Функції безпеки</span>
          <img src="../assets/min-white-arrow-right.svg" alt="Icon">
        </a>
        <a class="header__menu-link" href="/comfort.html">
          <span class="header__menu-link-text">Функції комфорту</span>
          <img src="../assets/min-white-arrow-right.svg" alt="Icon">
        </a>
        <a class="header__menu-link" href="/calculator.html">
          <span class="header__menu-link-text">Розрахувати вартість</span>
          <img src="../assets/min-white-arrow-right.svg" alt="Icon">
        </a>
        <a class="header__menu-link phone" href="tel:+380955995733">
          <img src="../assets/white-phone.svg" alt="Icon">
          <span class="header__menu-link-text">+380 (95) 599-57-33</span>
        </a>

        <div class="header__menu-action-wrapper">
          <div class="header__menu-action-title">Бездротовий розумний будинок твоєї мрії</div>
          <button class="header__nav-button button blue consultation" type="button">
            Безкоштовна консультація
            <img src="../assets/white-arrow-right.svg" alt="Icon">
          </button>
        </div>
      </div>
    </div>

    <div class="header__wrapper desktop">
      <div class="header__left">
        <a class="header__logo" href="/">
          <img src="../assets/white-logo.svg" alt="Logo">
        </a>
        <a class="header__link" href="/security.html">Безпека</a>
        <a class="header__link" href="/comfort.html">Комфорт</a>
        <a class="header__link" href="/calculator.html">Розрахувати вартість</a>
      </div>
      <div class="header__right">
        <a class="header__link phone" href="tel:+380955995733">+380 (95) 599-57-33</a>
        <div class="header__location-dropdown simple-dropdown">
          <div class="simple-dropdown-button button gray">
            Київ
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_2337_16589)">
                <path d="M9.9999 13.3333C9.80519 13.3337 9.6165 13.2659 9.46657 13.1417L4.46657 8.97501C4.29639 8.83356 4.18937 8.6303 4.16905 8.40994C4.14874 8.18959 4.21679 7.97019 4.35824 7.80001C4.49969 7.62983 4.70295 7.52281 4.9233 7.50249C5.14366 7.48217 5.36306 7.55022 5.53324 7.69167L9.9999 11.425L14.4666 7.82501C14.5518 7.75578 14.6499 7.70409 14.7552 7.6729C14.8605 7.64171 14.9709 7.63163 15.0801 7.64324C15.1892 7.65486 15.2951 7.68794 15.3914 7.74058C15.4878 7.79323 15.5728 7.8644 15.6416 7.95001C15.7179 8.03569 15.7757 8.13621 15.8113 8.24527C15.847 8.35434 15.8598 8.46959 15.8488 8.58381C15.8379 8.69802 15.8034 8.80875 15.7477 8.90905C15.692 9.00935 15.6161 9.09705 15.5249 9.16667L10.5249 13.1917C10.3707 13.2963 10.1858 13.3461 9.9999 13.3333Z" fill="#84899A"/>
              </g>
              <defs>
                <clipPath id="clip0_2337_16589">
                  <rect width="20" height="20" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <div class="simple-dropdown-body">
            <div class="header__location-item">
              <img src="../assets/black-location.svg" alt="Location Icon">
              Київ
            </div>
            <div class="header__location-info">
              <img src="../assets/gray-information.svg" alt="Information Icon">
              <span>Наразі ми пропонуємо наші послуги тільки в місті Київ.</span>
            </div>
          </div>
        </div>
        <div class="header__showroom button gray">
          Відвідати Шоурум
        </div>
        <button class="header__nav-button button blue consultation animated" type="button">
          Консультація
          <span class="button-shine"></span>
          <img src="../assets/white-arrow-right.svg" alt="Icon">
        </button>
      </div>
    </div>
  </div>
</header>