<section class="processes-automation" id="processes-automation">
  <div class="processes-automation__container container">

    <div class="processes-automation__info">
      <div class="processes-automation__title-wrapper section-title-wrapper">
        <h3 class="processes-automation__subtitle section-subtitle">Автоматизація всіх процесів</h3>
        <h2 class="processes-automation__subtitle section-title">
          Налаштуйте власні сценарії вашого комфорту та безпеки будинку
        </h2>
      </div>
      <p class="processes-automation__text text">Автоматизація розумного будинку дозволяє вам налаштувати 150+
        індивідуальних сценаріїв, які взаємодіють з будь-якими подіями відповідно до вашого бажання. Ви обираєте
        персоналізовні реакції для різноманітних ситуацій, щоб система втілювала саме ваше уявлення про комфорт
        та безпеку.</p>

      <div class="processes-automation__button-group">
        <button class="processes-automation__button button blue scenario">
          <img src="../assets/white-file.svg" alt="File Icon">
          <span>Приклади сценаріїв</span>
        </button>
        <div class="processes-automation__label">
          <svg xmlns="http://www.w3.org/2000/svg" width="9" height="25" viewBox="0 0 9 25" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.5 0.5C6.29086 0.5 4.5 2.29086 4.5 4.5V5.387C4.5 6.10509 4.24243 6.79935 3.77407 7.34368L0.587682 11.0469C-0.0423047 11.7791 -0.0590035 12.8569 0.547997 13.6082L3.8336 17.6751C4.26479 18.2089 4.5 18.8743 4.5 19.5604V20.5C4.5 22.7091 6.29086 24.5 8.5 24.5V0.5Z" fill="#2E3038"/>
          </svg>
          150+ сценаріїв
        </div>
      </div>
    </div>

    <div class="processes-automation__image-wrapper">
      <img class="processes-automation__image-bg" src="../assets/processes-automation-bg.png" alt="Gradient Background">
      <img class="processes-automation__image-left" src="../assets/processes-automation-left.png" alt="Card image">
      <img class="processes-automation__image-right" src="../assets/processes-automation-right.png" alt="Card image">
    </div>

  </div>
</section>