<section class="products navigation-section" id="products">
  <div class="products__container container bg-lines">
    <div class="products__info">
      <div class="products__title-wrapper section-title-wrapper">
        <h3 class="products__subtitle section-subtitle">Продукти</h3>
        <h2 class="products__title section-title">
          Ми використовуємо продукти високої якості, перевіренні часом
        </h2>
      </div>
      <p class="products__text text">Усі компоненти протестовані та сертифіковані, що гарантує тривалу роботу системи.</p>
    </div>
    <div class="products__companys">
      <div class="products__companys-wrapper">
        <div class="products__item">
          <img src="../assets/gray-microsoft-logo.svg" alt="microsoft logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-xiaomi-logo.svg" alt="xiaomi logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-samsung-logo.svg" alt="samsung logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-lg-logo.svg" alt="lg logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-tuya-logo.svg" alt="tuya logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-aqara-logo.svg" alt="aqara logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-ewelink-logo.svg" alt="ewelink logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-google-home-logo.svg" alt="google home logo">
        </div>
      </div>
      <div class="products__companys-wrapper">
        <div class="products__item">
          <img src="../assets/gray-microsoft-logo.svg" alt="microsoft logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-xiaomi-logo.svg" alt="xiaomi logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-samsung-logo.svg" alt="samsung logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-lg-logo.svg" alt="lg logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-tuya-logo.svg" alt="tuya logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-aqara-logo.svg" alt="aqara logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-ewelink-logo.svg" alt="ewelink logo">
        </div>
        <div class="products__item">
          <img src="../assets/gray-google-home-logo.svg" alt="google home logo">
        </div>
      </div>
    </div>

    <img class="bg-lines__image desktop" src="../assets/products-bg-lines-desktop.png" alt="Background lines">
    <img class="bg-lines__image mobile" src="../assets/products-bg-lines-mobile.png" alt="Background lines">
  </div>
</section>