<section class="save-bills navigation-section" id="save-bills">
  <div class="save-bills__container container two-column-section">

    <div class="save-bills__left column-left">
      <div class="column-image">
        <img loading="lazy" src="../assets/save-bills-image.png" alt="Phone with Mobile App">
      </div>
    </div>

    <div class="save-bills__right column-right">
      <div class="save-bills__info">
        <div class="save-bills__title-wrapper section-title-wrapper">
          <h3 class="save-bills__subtitle section-subtitle">Заощаджуйте на рахунках </h3>
          <h2 class="save-bills__title section-title">
            Контролюйте споживання електроенергії, води та газу
          </h2>
        </div>
        <p class="save-bills__text text">Бездротовий розумний будинок - це нова ера в сфері розумних систем,  де комфорт,
          безпека та енергоефективність поєднуються в одному рішенні. Відкрийте для себе магію технологій без зайвих
          проводів і обмежень.</p>
      </div>
      <div class="save-bills__image column-image">
        <img loading="lazy" src="../assets/save-bills-image.png" alt="Phone with Mobile App">
      </div>

      <div class="save-bills__dropdown-list dropdown-list">
        <div class="dropdown-item active" >
          <div class="dropdown-item__head">
            <div class="dropdown-item__value">01</div>
            <div class="dropdown-item__title">Заощаджуйте до 40% на рахунках за електроенергію</div>
            <div class="dropdown-item__toggle">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="dropdown-item__body text">
            За допомогою додатку ви зможете ідентифікувати енергозатратні пристрої та оптимізувати їх роботу,
            розподіляючи енергію в найефективніший спосіб. Це дозволить суттєво знизити витрати, що сприятиме
            економії вашого бюджету.
          </div>
        </div>
        <div class="dropdown-item" >
          <div class="dropdown-item__head">
            <div class="dropdown-item__value">02</div>
            <div class="dropdown-item__title">Окупіть систему вже через 2 роки</div>
            <div class="dropdown-item__toggle">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="dropdown-item__body text">
            Розумний будинок - це ще й вигідна інвестиція! Заощадження, отримані завдяки оптимізації споживання,
            дозволять вам швидко окупити витрати на систему. Ви отримаєте не тільки комфорт та безпеку, але
            й вигоду фінансової раціональності.
          </div>
        </div>
        <div class="dropdown-item" >
          <div class="dropdown-item__head">
            <div class="dropdown-item__value">03</div>
            <div class="dropdown-item__title">Отримуйте персоналізовані звіти та рекомендації</div>
            <div class="dropdown-item__toggle">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="dropdown-item__body text">
            Додаток надає персоналізовані рекомендації щодо оптимізації споживання та зменшення витрат. Ви зможете
             встановлювати цілі, відстежувати свій прогрес та отримувати цінні поради щодо зниження споживання ресурсів.
          </div>
        </div>
      </div>
    </div>

  </div>
</section>