<section class="scenario-modal__backdrop modal__backdrop">
  <div class="scenario-modal modal">
    <div style="height: 100%">
      <div class="modal__close">
        <img src="../assets/white-cross.svg" alt="Cross">
      </div>

      <div class="scenario-modal__wrapper">
        <h2 class="scenario-modal__title">Найпоширеніші сценарії</h2>

        <div class="scenario-modal__list">

        </div>

        <button class="scenario-modal__button button blue consultation" type="button">
          <span>Підібрати сценарій</span>
          <img src="../assets/white-arrow-right.svg" alt="Arrow Icon">
        </button>
      </div>
    </div>
  </div>
</section>