<section class="security-feature loaded-section functions-page">

  <div class="functions-page__container container bg-lines">
    <div class="functions-page__banner">
      <h1 class="functions-page__title">Функції безпеки</h1>
      <p class="functions-page__text text">Ми пропонуємо найширший спектр функцій безпеки та захисту на українському
        ринку. Дізнайтеся детальніше про кожну функцію нижче.</p>
      <img class="functions-page__image" src="../assets/security-feature-image.png" alt="Image">
    </div>

    <div class="functions-page__feature-list dropdown-list"></div>
    <img class="bg-lines__image desktop" src="../assets/feature-bg-lines-desktop.png" alt="Background lines">
    <img class="bg-lines__image mobile" src="../assets/feature-bg-lines-mobile.png" alt="Background lines">
  </div>

</section>