<section class="statistics">
  <img loading="lazy" class="statistics__background" src="../assets/statistics-line-bg.png" alt="Background">
  <img loading="lazy" class="statistics__background-transparent" src="../assets/statistics-line-bg.png" alt="Background">
  <div class="statistics__container">
    <div class="statistics__wrapper first">
      <div class="statistics__item">
        <div class="statistics__value">5+</div>
        <div class="statistics__text">Років на ринку</div>
      </div>
      <div class="statistics__item">
        <div class="statistics__value">200+</div>
        <div class="statistics__text">Задоволених клієнтів</div>
      </div>
      <div class="statistics__item">
        <div class="statistics__value">100+</div>
        <div class="statistics__text">Функцій комфорту</div>
      </div>
    </div>
    <div class="statistics__wrapper second">
      <div class="statistics__item">
        <div class="statistics__value">5+</div>
        <div class="statistics__text">Років на ринку</div>
      </div>
      <div class="statistics__item">
        <div class="statistics__value">200+</div>
        <div class="statistics__text">Задоволених клієнтів</div>
      </div>
      <div class="statistics__item">
        <div class="statistics__value">100+</div>
        <div class="statistics__text">Функцій комфорту</div>
      </div>
    </div>
  </div>
</section>