<div class="confirm-modal__backdrop modal__backdrop success-modal__backdrop">

  <div class="confirm-modal modal">
    <div>
      <div class="modal__close">
        <img src="../assets/white-cross.svg" alt="Cross">
      </div>
    </div>
    <div class="confirm-modal__accept">
      <img src="../assets/white-accept.svg" alt="Icon">
    </div>
    <div class="confirm-modal__title">Дякуємо!</div>
    <div class="confirm-modal__text text">Ми отримали ваші контактні дані та незабаром звʼяжемося з вами для узгодження подробиць.</div>
  </div>

</div>