<section class="wireless-system navigation-section" id="wireless-system">
  <div class="wireless-system__container container two-column-section">

    <div class="wireless-system__left column-left">
      <div class="column-image">
        <img loading="lazy" src="../assets/wireless-system-image.png" alt="Card with wireless signal">
      </div>
    </div>

    <div class="wireless-system__right column-right">
      <div class="wireless-system__info">
        <div class="wireless-system__title-wrapper section-title-wrapper">
          <h3 class="wireless-system__subtitle section-subtitle">Бездротова система</h3>
          <h2 class="wireless-system__title section-title">
            Переваги системи бездротового розумного будинку
          </h2>
        </div>
        <p class="wireless-system__text text">Бездротовий розумний будинок - це нова ера в сфері розумних систем,  де комфорт,
          безпека та енергоефективність поєднуються в одному рішенні. Відкрийте для себе магію технологій без зайвих
          проводів і обмежень.</p>
      </div>
      <div class="wireless-system__image column-image">
        <img loading="lazy" src="../assets/wireless-system-image.png" alt="Card with wireless signal">
      </div>

      <div class="wireless-system__dropdown-list dropdown-list">
        <div class="dropdown-item active" >
          <div class="dropdown-item__head">
            <div class="dropdown-item__value">01</div>
            <div class="dropdown-item__title">Швидка та легка інтеграція на будь-якому етапі</div>
            <div class="dropdown-item__toggle">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="dropdown-item__body text">
            Система бездротового розумного будинку дозволяє здійснювати просту інсталяцію незалежно від типу приміщення,
            без зайвих дротів та шнурів, не потребуючи втручання у готовий ремонт будівлі, залишаючи стіни цілими.
          </div>
        </div>
        <div class="dropdown-item" >
          <div class="dropdown-item__head">
            <div class="dropdown-item__value">02</div>
            <div class="dropdown-item__title">Приваблива вартість</div>
            <div class="dropdown-item__toggle">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="dropdown-item__body text">
            Порівняно з дротовими системами, бездротовий розумний будинок пропонує економічність завдяки меншій
            кількості необхідного обладнання та зменшеному обсягу робіт. Це дозволяє вам отримати передові технології без переплат.
          </div>
        </div>
        <div class="dropdown-item" >
          <div class="dropdown-item__head">
            <div class="dropdown-item__value">03</div>
            <div class="dropdown-item__title">Легке інтегрування нових або додаткових елементів</div>
            <div class="dropdown-item__toggle">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="dropdown-item__body text">
            Передові технології забезпечують швидке і просте інтегрування будь-яких нових пристроїв, дозволяючи
            розширювати функціонал вашого будинку та насолоджуватися останніми інноваціями у світі розумних пристроїв.
          </div>
        </div>
        <div class="dropdown-item" >
          <div class="dropdown-item__head">
            <div class="dropdown-item__value">04</div>
            <div class="dropdown-item__title">Керування без Інтернету</div>
            <div class="dropdown-item__toggle">
              <span></span>
              <span></span>
            </div>
          </div>
          <div class="dropdown-item__body text">
            Керування без інтернету у бездротовому розумному будинку можливе завдяки локальним мережам і технологіям,
            що дозволяють пристроям безперебійно взаємодіяти один з одним.
          </div>
        </div>
      </div>
    </div>

  </div>
</section>